<% provide :page_title, "Edit #{@generation.title}" %>
<% currently_at 'iPhone Generations' %>

<div class="row">

  <div class="col-2">
    <%= render 'generation_show_nav' %>
  </div>

  <div class="col-6 m-5">
    <div class="row p-5 shadow bg-white mb-5">
      <h4 class="display-3 mb-5">
        Editing Generation
        <span class="text-muted">
          <%= @generation.title %>
        </span>
      </h4>
    </div>

    <%= render 'form', generation: @generation %>

    <div class="list-inline-item mt-3">
      <%= link_to 'Show', @generation, class: 'text-decoration-none me-3' %>
      <%= link_to 'Back', generations_path, class: 'text-decoration-none' %>
    </div>
  </div>

  <div class="col-3">
    <%= render 'generation_info_card' %>
  </div>
</div>
